body {
  font-family: sans-serif;
  max-width: 70em;
  margin: 1em auto;
  padding: 0 10px;
  background-color: black;
  color: #EEEEEE;
}

a {
  color: #9999EE;
}

a:hover, a:active {
  color: #CCCCFF;
}

span#social {
  display: inline;
  float: right;
}

span#social-mobile {
  display: none;
}

@media(max-width: 700px) {
  span#social {
    display: none;
  }
  span#social-mobile {
    display: inline;
  }
}

